<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>资产列表</title>
<link rel="stylesheet" href="/resources/lib/amazeui/css/amazeui.css" />
<link rel="stylesheet" href="/resources/css/admin.css" />
</head>
<body>
<div class="admin-biaogelist">
<div class="listbiaoti am-cf">
	<div class="am-icon-plus title">新增资产</div>
</div>

</div>
<script src="/resources/lib/jquery/jquery.min.js"></script>
<script src="/resources/lib/amazeui/js/amazeui.min.js"></script>
</body>
</html>