<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>资产列表</title>
<link rel="stylesheet" href="../../../resources/lib/amazeui/css/amazeui.css" 
	th:href="@{/resources/lib/amazeui/css/amazeui.css}" />
<link rel="stylesheet" href="../../../resources/css/admin.css" 
	th:href="@{/resources/css/admin.css}"/>
</head>
<body>
<div class="admin-biaogelist">
<div class="listbiaoti am-cf">
	<div class="am-icon-database title">资产列表</div>
</div>

<form class="am-form am-g">
  <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
    <thead>
      <tr class="am-success">
        <th class="table-check"><input type="checkbox" /></th>
        <th width="60px">序号</th>
        <th >名称</th>
        <th >数量</th>
        <th >单位</th>
        <th >单价</th>
        <th >资产来源</th>
        <th >供应商名称</th>
        <th >规格型号</th>
        <th >保管人</th>
        <th width="130px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item,zcStat : ${zcList}">
        <td><input type="checkbox" /></td>
        <td th:text="${zcStat.count}"></td>
        <td th:text="${item.mingch}"></td>
        <td th:text="${item.shul!=null ? item.shul.doubleValue() : null}"></td>
        <td th:text="${item.danwei}"></td>
        <td th:text="${item.danjia!=null ? item.danjia.doubleValue() : null}"></td>
        <td th:text="${item.zcly}"></td>
        <td th:text="${item.gysDcxm}"></td>
        <td th:text="${item.ggxh}"></td>
        <td th:text="${item.bgr!=null ? item.bgr.realname : null}"></td>
        <td>
        	<div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <a class="am-btn am-btn-default am-btn-xs am-text-success am-round" href="view.html"
              		th:href="@{/views/zc/get(uuid=${item.uuid},operate='view')}" title="查看">
              	<span class="am-icon-search" ></span>
              </a>
              <a class="am-btn am-btn-default am-btn-xs am-text-secondary am-round" href="modify.html"
              		th:href="@{/views/zc/get(uuid=${item.uuid},operate='modify')}" title="修改">
              	<span class="am-icon-pencil-square-o"></span>
              </a>
              <a class="am-btn am-btn-default am-btn-xs am-text-danger am-round" title="删除">
              	<span class="am-icon-trash-o"></span>
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
	<div class="am-btn-group am-btn-group-xs">
		<a href="add.html" th:href="@{/views/zc/add}" class="am-btn am-btn-default"><span class="am-icon-plus"></span>资产入库</a>
		<a href="javascript:void(0);" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span>批量删除</a>
	</div>
  <ul class="am-pagination am-fr">
     <li th:class="${zcList.number==0}?'am-disabled':''">
     	<a th:href="@{/views/zc/list(pageNow=${zcList.number})}">«</a>
     </li>
     <li th:each="index : ${#numbers.sequence(1,zcList.totalPages)}" th:class="${index==zcList.number+1}?'am-active':''">
     	<a th:href="@{/views/zc/list(pageNow=${index})}" th:text="${index}">1</a>
     </li>
     <li th:class="${zcList.number+1==zcList.totalPages}?'am-disabled':''">
     	<a th:href="@{/views/zc/list(pageNow=${zcList.number+2})}">»</a>
     </li>
   </ul>
</form>
</div>
<script src="/resources/lib/jquery/jquery.min.js"></script>
<script src="/resources/lib/amazeui/js/amazeui.min.js"></script>
</body>
</html>