<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>资产列表</title>
<link rel="stylesheet" href="../../../resources/lib/amazeui/css/amazeui.css" 
	th:href="@{/resources/lib/amazeui/css/amazeui.css}" />
<link rel="stylesheet" href="../../../resources/css/admin.css" 
	th:href="@{/resources/css/admin.css}"/>
</head>
<body>
<div class="admin-biaogelist">
<div class="listbiaoti am-cf">
	<div class="title"><i class="am-icon-database"></i> 资产列表</div>
</div>

<form class="am-form am-g am-form-inline" action="/views/zc/list" method="post">
  <div class="am-form-group">
    <label for="doc-ipt-3-a" class="am-u-sm-4 am-form-label">编码:</label>
    <div class="am-u-sm-8">
      <input type="text" class="am-input-sm am-form-field" name="zcid" th:value="${zcid}" />
    </div>
  </div>

  <div class="am-form-group">
    <label for="doc-ipt-3-a" class="am-u-sm-4 am-form-label">名称:</label>
    <div class="am-u-sm-8">
      <input type="text" class="am-input-sm am-form-field" name="mingch" th:value="${mingch}" />
    </div>
  </div>
  <div class="am-form-group">
  	<label for="doc-ipt-3-a" class="am-u-sm-4 am-form-label">类别:</label>
  	<div class="am-u-sm-8">
      <input type="text" class="am-input-sm am-form-field" name="lbie" th:value="${lbie}" />
  	</div>
  </div>
  <button type="submit" class="am-btn am-btn-success">查询</button>
  <button type="button" onclick="$.resetForm(this)" class="am-btn am-btn-default">重置</button>
  <div style="padding:5px 0">
	  <div class="am-btn-group">
	    <a href="add.html" th:href="@{/views/zc/add}" class="am-btn am-btn-primary">
	    	<i class="am-icon-plus"></i> 资产入库
	    </a>
	    <a href="javascript:void(0);" class="am-btn am-btn-primary" 
	    	data-am-modal="{target: '#upload-modal', closeViaDimmer: 0, width: 300, height: 200}">
	    	<i class="am-icon-file-excel-o"></i> 数据导入
	    </a>
	    <a href="javascript:void(0);" class="am-btn am-btn-danger">
	    	<i class="am-icon-trash-o"></i> 批量删除
	    </a>
	  </div>
  </div>
  <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover" style="margin-top:5px;">
    <thead>
      <tr class="am-success">
        <th class="table-check"><input type="checkbox" /></th>
        <th width="60px">序号</th>
        <th >名称</th>
        <th >数量</th>
        <th >单位</th>
        <th >单价</th>
        <th >资产来源</th>
        <th >供应商名称</th>
        <th >规格型号</th>
        <th >保管人</th>
        <th width="130px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item,zcStat : ${zcList}">
        <td><input type="checkbox" th:value="${item.uuid}"/></td>
        <td th:text="${zcStat.count}"></td>
        <td th:text="${item.mingch}"></td>
        <td th:text="${item.shul!=null ? item.shul.doubleValue() : null}"></td>
        <td th:text="${item.danwei}"></td>
        <td th:text="${item.danjia!=null ? item.danjia.doubleValue() : null}"></td>
        <td th:text="${item.zcly}"></td>
        <td th:text="${item.gysDcxm}"></td>
        <td th:text="${item.ggxh}"></td>
        <td th:text="${item.bgr!=null ? item.bgr.realname : null}"></td>
        <td>
        	<div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <a class="am-btn am-btn-default am-btn-xs am-text-success am-round" href="view.html"
              		th:href="@{/views/zc/get(uuid=${item.uuid},operate='view')}" title="查看">
              	<span class="am-icon-search" ></span>
              </a>
              <a class="am-btn am-btn-default am-btn-xs am-text-secondary am-round" href="modify.html"
              		th:href="@{/views/zc/get(uuid=${item.uuid},operate='modify')}" title="修改">
              	<span class="am-icon-pencil-square-o"></span>
              </a>
              <a class="am-btn am-btn-default am-btn-xs am-text-danger am-round" title="删除">
              	<span class="am-icon-trash-o"></span>
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="am-pagination am-fl">
     <li th:class="${page.pageNow==1}?'am-disabled':''">
     	<a th:href="@{/views/zc/list(pageNow=${page.pageNow-1})}">«</a>
     </li>
     <li th:each="index : ${#numbers.sequence(1,page.pageCount==0?1:page.pageCount)}" th:class="${index==page.pageNow || page.pageCount==0}?'am-active':''">
     	<a th:href="@{/views/zc/list(pageNow=${index})}" th:text="${index}">1</a>
     </li>
     <li th:class="${page.pageNow==page.pageCount}?'am-disabled':''">
     	<a th:href="@{/views/zc/list(pageNow=${page.pageNow+1})}">»</a>
     </li>
   </ul>
</form>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="upload-modal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">导入资产数据
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">&times;</a>
    </div>
    <div class="am-modal-bd">
    	数据导入模板 : <a th:href="@{/views/zc/downloadTemplate}" href="javascript:void(0);">下载</a>
    </div>
    <div class="am-modal-bd">
       <div class="am-form-group am-form-file">
		  <button type="button" class="am-btn am-btn-default am-btn-sm">
		    <i class="am-icon-cloud-upload"></i> 选择要上传的文件
		  </button>
		  <form id="uploadExcelForm" action="/view/zc/import" method="post" enctype="multipart/form-data" >
		    <input type="file" name="uploadExcel" id="uploadExcel" />
		  </form>
	   </div>
	   <p class="am-form-help">请使用指定模板填写数据，上传文件</p>
    </div>
  </div>
</div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="result-modal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">导入结果
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">&times;</a>
    </div>
    <div class="am-modal-bd">
       <div id="upload-result"></div>
    </div>
  </div>
</div>
<script th:src="@{/resources/lib/jquery/jquery.min.js}" src="../../../resources/lib/jquery/jquery.min.js"></script>
<script th:src="@{/resources/lib/amazeui/js/amazeui.min.js}" src="../../../resources/lib/amazeui/js/amazeui.min.js"></script>
<!-- <script th:src="@{/resources/js/ajaxfileupload.js}" src="../../../resources/js/ajaxfileupload.js"></script> -->
<script th:src="@{/resources/js/base.js}" src="../../../resources/js/base.js"></script>
<script>
$(function(){
$("#uploadExcel").on("change",function(){
	var form = document.getElementById("uploadExcelForm");
	$.ajax({
		url : "/views/zc/import",
		method : "post",
		processData: false,
		contentType: false,
		dataType : "json",
		data : new FormData(form),
		success : function(res) {
			var resultStr = '<div><b>'+res.data.countInfo+'</b></div>';
			for(var line in res.data.errorInfo) {
				resultStr += '<div class="am-u-sm-4"><p>第'+line+'行</p></div>';
				resultStr += '<div class="am-u-sm-8">';
				for(var contentIndex in res.data.errorInfo[line]) {
					resultStr += '<p>'+res.data.errorInfo[line][contentIndex]+'</p>';
				}
				resultStr += '</div>';
			}
			$("#upload-result").html(resultStr);
			//显示导入结果modal
			$("#result-modal").modal("open");
			$("#upload-modal").modal("close");
			$("#uploadExcel").val(null);
		},
		error : function(res) {
			alert("文件上传失败");
			$("#upload-modal").modal("close");
		}
	});
});

});
</script>
</body>
</html>